version: '3'

services:
  app:
    container_name: 'api-gateway-kuzora'
    build:
      context: app/
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    ports:
      - '28083:8080'
    command: sleep infinity
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    environment:
      - PYTHONPATH=/workspace/src
      - CONFIG_PATH=/workspace/src/config/config-local.yml
